In [1]:
import os
import pandas as pd
import pickle
import numpy as np
PROJ_ROOT = os.path.join(os.pardir)

%load_ext watermark
%watermark -a "Bryan Dickinson"  -v -iv

numpy  1.18.5
pandas 1.1.0
Bryan Dickinson

CPython 3.7.8
IPython 7.17.0

In [2]:
cmc_data = os.path.join(PROJ_ROOT, 
                         'data',
                        'raw-data',
                         'water_FINAL.csv')

In [3]:
df = pd.read_csv(cmc_data)

C:\Users\Bryan\Anaconda3\envs\hacktb\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,5,6,9,11,13,15,17,21,22,23,24,27,28,31,32,33,34,35,36,37,40,41,42,43,44,45,46,47,48,49,50,55,56,57,58,59,60,61,62,63,64,65,66) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head(3)

,Unnamed: 0,Unnamed: 0.1,Agency,BiasPC,CloudCover,Comments,Cruise,Database,Date,FieldActivityEventType,...,Weather Conditions Yesterday,WindDirection,WindSpeed,state,Point,HUC12_,HUCNAME_,FIPS_,COUNTY_,STATE_
0,0,2143,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,W,1-10 knots,MD,POINT (-75.93002800000002 39.480194),20600020206,Bohemia River,24015,Cecil County,MD
1,1,2145,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,W,1-10 knots,MD,POINT (-75.902528 39.480444),20600020206,Bohemia River,24015,Cecil County,MD
2,2,2147,NaN,NaN,NaN,NaN,NaN,CMC,04/28/2018,NaN,...,NaN,S,1-10 knots,MD,POINT (-75.873639 39.466889),20600020206,Bohemia River,24015,Cecil County,MD

In [5]:
df.shape

(2708717, 73)

In [6]:
# df.iloc[:, [1]]

In [7]:
# cols=['Date','Time','SampleId','Source','Station','StationName','Parameter',
#       'ParameterName_CBP','ParameterName_CMC','Unit','MeasureValue']

cols=['Date','Longitude','Latitude','SampleId','Source','Station','StationName','Parameter',
      'ParameterName_CBP','ParameterName_CMC','Unit','MeasureValue']

In [8]:
df2=df[cols]

In [9]:
df2.shape

(2708717, 12)

In [10]:
df2.head()

,Date,Longitude,Latitude,SampleId,Source,Station,StationName,Parameter,ParameterName_CBP,ParameterName_CMC,Unit,MeasureValue
0,04/28/2018,-75.930028,39.480194,1.0,NaN,NaN,FOB BT01,CHL.3,ACTIVE CHLOROPHYLL-A,Chlorophyll a;b;c,ug/L,14.970
1,04/28/2018,-75.902528,39.480444,1.0,NaN,NaN,FOB BT02,CHL.3,ACTIVE CHLOROPHYLL-A,Chlorophyll a;b;c,ug/L,20.002
2,04/28/2018,-75.873639,39.466889,1.0,NaN,NaN,FOB BT03,CHL.3,ACTIVE CHLOROPHYLL-A,Chlorophyll a;b;c,ug/L,26.204
3,04/28/2018,-75.854444,39.454000,1.0,NaN,NaN,FOB BT04,CHL.3,ACTIVE CHLOROPHYLL-A,Chlorophyll a;b;c,ug/L,47.652
4,04/28/2018,-75.843528,39.463667,1.0,NaN,NaN,FOB BT05,CHL.3,ACTIVE CHLOROPHYLL-A,Chlorophyll a;b;c,ug/L,38.820

In [11]:
df2['Date']= pd.to_datetime(df2['Date'])

C:\Users\Bryan\Anaconda3\envs\hacktb\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Groupby Method

In [12]:
test1=df2.groupby(['Date','SampleId','Longitude','Latitude','Unit','ParameterName_CBP'])['MeasureValue'].mean()

In [13]:
test1.unstack().reset_index()

ParameterName_CBP,Date,SampleId,Longitude,Latitude,Unit,ACTIVE CHLOROPHYLL-A,AIR TEMPERATURE DEG,AMMONIUM NITROGEN AS N (FILTERED SAMPLE),DISSOLVED OXYGEN IN MG/L,DO SATURATION USING PROBE UNITS IN PERCENT,...,TOTAL DEPTH,TOTAL DISSOLVED SOLIDS; GRAVIMETRIC; DRIED AT 180 C,TOTAL KJELDAHL NITROGEN (WHOLE SAMPLE),TOTAL NITROGEN,TOTAL PHOSPHORUS,TOTAL SUSPENDED SOLIDS,TURBIDITY TUBE,TURBIDITY; JACKSON CANDLE METHOD (FORWARD SCATTER),TURBIDITY; NEPHELOMETRIC METHOD,WATER TEMPERATURE DEG
0,1992-11-01,1.0,-77.18692,40.17999,NTU,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
1,1992-11-01,1.0,-77.18692,40.17999,SU,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-11-01,1.0,-77.18692,40.17999,deg C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5
3,1992-11-01,1.0,-77.18692,40.17999,mg/L,NaN,NaN,NaN,11.60,NaN,...,NaN,285.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-11-01,1.0,-77.18606,40.18844,NTU,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602381,2020-07-08,1.0,-76.90566,38.91916,SU,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602382,2020-07-08,1.0,-76.90566,38.91916,deg C,NaN,28.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
602383,2020-07-08,1.0,-76.90566,38.91916,mg/L,NaN,NaN,NaN,7.05,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602384,2020-07-08,1.0,-76.90566,38.91916,pct,NaN,NaN,NaN,NaN,83.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602385,2020-07-08,1.0,-76.90566,38.91916,uS/cm,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Pivot Table method

In [14]:
test2=pd.pivot_table(df2, values='MeasureValue',
         index=['Date','SampleId','Longitude','Latitude'],
         columns=['ParameterName_CBP'],
        aggfunc=np.mean)

In [15]:
test2.head()

ParameterName_CBP                       ACTIVE CHLOROPHYLL-A  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                   NaN
                    -77.18606 40.18844                   NaN
                    -77.18537 40.17663                   NaN
                    -77.18507 40.17667                   NaN
                    -77.18423 40.19528                   NaN

ParameterName_CBP                       AIR TEMPERATURE DEG  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                  NaN
                    -77.18606 40.18844                  NaN
                    -77.18537 40.17663                  NaN
                    -77.18507 40.17667                  NaN
                    -77.18423 40.19528                  NaN

ParameterName_CBP                       AMMONIUM NITROGEN AS N (FILTERED SAMPLE)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                       NaN
                    -77.18606 40.18844                                       NaN
                    -77.18537 40.17663                                       NaN
                    -77.18507 40.17667                                       NaN
                    -77.18423 40.19528                                       NaN

ParameterName_CBP                       DISSOLVED OXYGEN IN MG/L  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                      11.6
                    -77.18606 40.18844                      13.4
                    -77.18537 40.17663                      12.6
                    -77.18507 40.17667                      12.7
                    -77.18423 40.19528                      13.6

ParameterName_CBP                       DO SATURATION USING PROBE UNITS IN PERCENT  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                         NaN
                    -77.18606 40.18844                                         NaN
                    -77.18537 40.17663                                         NaN
                    -77.18507 40.17667                                         NaN
                    -77.18423 40.19528                                         NaN

ParameterName_CBP                       E.COLI BACTERIA  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999              NaN
                    -77.18606 40.18844              NaN
                    -77.18537 40.17663              NaN
                    -77.18507 40.17667              NaN
                    -77.18423 40.19528              NaN

ParameterName_CBP                       NITRATE NITROGEN AS N (FILTERED SAMPLE)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                      2.2
                    -77.18606 40.18844                                      2.5
                    -77.18537 40.17663                                      2.7
                    -77.18507 40.17667                                      2.3
                    -77.18423 40.19528                                      2.1

ParameterName_CBP                       Not in CBP Database  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                  NaN
                    -77.18606 40.18844                  NaN
                    -77.18537 40.17663                  NaN
                    -77.18507 40.17667                  NaN
                    -77.18423 40.19528                  NaN

ParameterName_CBP                       ORTHOPHOSPHATE PHOSPHORUS AS P (FILTERED SAMPLE)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                               0.3
                    -77.18606 40.18844                                               0.1
                    -77.18537 40.17663                                               0.1
                    -77.18507 40.17667                                               0.2
                    -77.18423 40.19528                                               0.1

ParameterName_CBP                       PH CORRECTED FOR TEMPERATURE (25 DEG C)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                      6.7
                    -77.18606 40.18844                                      7.4
                    -77.18537 40.17663                                      7.2
                    -77.18507 40.17667                                      7.1
                    -77.18423 40.19528                                      7.4

ParameterName_CBP                       ...  TOTAL DEPTH  \
Date       SampleId Longitude Latitude  ...
1992-11-01 1.0      -77.18692 40.17999  ...          NaN
                    -77.18606 40.18844  ...          NaN
                    -77.18537 40.17663  ...          NaN
                    -77.18507 40.17667  ...          NaN
                    -77.18423 40.19528  ...          NaN

ParameterName_CBP                       TOTAL DISSOLVED SOLIDS; GRAVIMETRIC; DRIED AT 180 C  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                              285.0
                    -77.18606 40.18844                                              330.0
                    -77.18537 40.17663                                              365.0
                    -77.18507 40.17667                                              345.0
                    -77.18423 40.19528                                              315.0

ParameterName_CBP                       TOTAL KJELDAHL NITROGEN (WHOLE SAMPLE)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                     NaN
                    -77.18606 40.18844                                     NaN
                    -77.18537 40.17663                                     NaN
                    -77.18507 40.17667                                     NaN
                    -77.18423 40.19528                                     NaN

ParameterName_CBP                       TOTAL NITROGEN  TOTAL PHOSPHORUS  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999             NaN               NaN
                    -77.18606 40.18844             NaN               NaN
                    -77.18537 40.17663             NaN               NaN
                    -77.18507 40.17667             NaN               NaN
                    -77.18423 40.19528             NaN               NaN

ParameterName_CBP                       TOTAL SUSPENDED SOLIDS  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                     NaN
                    -77.18606 40.18844                     NaN
                    -77.18537 40.17663                     NaN
                    -77.18507 40.17667                     NaN
                    -77.18423 40.19528                     NaN

ParameterName_CBP                       TURBIDITY TUBE  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999             NaN
                    -77.18606 40.18844             NaN
                    -77.18537 40.17663             NaN
                    -77.18507 40.17667             NaN
                    -77.18423 40.19528             NaN

ParameterName_CBP                       TURBIDITY; JACKSON CANDLE METHOD (FORWARD SCATTER)  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                                                NaN
                    -77.18606 40.18844                                                NaN
                    -77.18537 40.17663                                                NaN
                    -77.18507 40.17667                                                NaN
                    -77.18423 40.19528                                                NaN

ParameterName_CBP                       TURBIDITY; NEPHELOMETRIC METHOD  \
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                              3.0
                    -77.18606 40.18844                              2.0
                    -77.18537 40.17663                              0.0
                    -77.18507 40.17667                              3.0
                    -77.18423 40.19528                              3.0

ParameterName_CBP                       WATER TEMPERATURE DEG
Date       SampleId Longitude Latitude
1992-11-01 1.0      -77.18692 40.17999                   9.50
                    -77.18606 40.18844                   8.50
                    -77.18537 40.17663                  10.00
                    -77.18507 40.17667                   8.75
                    -77.18423 40.19528                   8.75

[5 rows x 24 columns]

In [16]:
test2=test2.reset_index()

In [17]:
test2.head()

ParameterName_CBP,Date,SampleId,Longitude,Latitude,ACTIVE CHLOROPHYLL-A,AIR TEMPERATURE DEG,AMMONIUM NITROGEN AS N (FILTERED SAMPLE),DISSOLVED OXYGEN IN MG/L,DO SATURATION USING PROBE UNITS IN PERCENT,E.COLI BACTERIA,...,TOTAL DEPTH,TOTAL DISSOLVED SOLIDS; GRAVIMETRIC; DRIED AT 180 C,TOTAL KJELDAHL NITROGEN (WHOLE SAMPLE),TOTAL NITROGEN,TOTAL PHOSPHORUS,TOTAL SUSPENDED SOLIDS,TURBIDITY TUBE,TURBIDITY; JACKSON CANDLE METHOD (FORWARD SCATTER),TURBIDITY; NEPHELOMETRIC METHOD,WATER TEMPERATURE DEG
0,1992-11-01,1.0,-77.18692,40.17999,NaN,NaN,NaN,11.6,NaN,NaN,...,NaN,285.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,9.50
1,1992-11-01,1.0,-77.18606,40.18844,NaN,NaN,NaN,13.4,NaN,NaN,...,NaN,330.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8.50
2,1992-11-01,1.0,-77.18537,40.17663,NaN,NaN,NaN,12.6,NaN,NaN,...,NaN,365.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.00
3,1992-11-01,1.0,-77.18507,40.17667,NaN,NaN,NaN,12.7,NaN,NaN,...,NaN,345.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,8.75
4,1992-11-01,1.0,-77.18423,40.19528,NaN,NaN,NaN,13.6,NaN,NaN,...,NaN,315.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,8.75